pavucontrol.ini
yay/
spotify/
pulse/
jgit/
JetBrains/
htop/
gorilla-auth/
go/
flameshot/
Electron/
discord/
dconf/
Code/
asset/
.android/
Vencord/
MongoDB Compass Isolated Edition/
kde.org/
dolphinrc
